:root {
  --white: #fff;
  --red: #d73c3c;
  --grey-500: #86a2a5;
  --grey-900: #2a4144;
  --green-200: #e0f1e8;
  --green-600: #0c7d69;
  --green-900: #0e3f35;

  --spacing-base: 8px;
  --spacing-100: var(--spacing-base);
  --spacing-150: calc(var(--spacing-base) * 1.5);
  --spacing-200: calc(var(--spacing-base) * 2);
  --spacing-300: calc(var(--spacing-base) * 3);
  --spacing-400: calc(var(--spacing-base) * 4);
  --spacing-500: calc(var(--spacing-base) * 5);
  --spacing-1600: calc(var(--spacing-base) * 16);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--grey-900);
  font-family: 'Karla', sans-serif;
}

main {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--green-200);
  min-height: 100dvh;
}

form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  flex-grow: 1;
  margin: 1rem;
  border-radius: 1rem;
  background-color: var(--white);
  padding: 1.5rem;
  max-width: 46rem;
}

form > div {
  display: flex;
  grid-column: span 12;
  flex-direction: column;
  gap: 0.5rem;
}

form > div:nth-of-type(6) {
  margin-block: 2.5rem;
}

form > div:nth-of-type(3),
form > div:nth-of-type(4),
form > div:nth-of-type(5) {
  margin-top: 1.5rem;
}

h1 {
  grid-column: span 12;
  margin-bottom: 2rem;
  font-size: 2rem;
  letter-spacing: -1px;
}

input[type='checkbox'],
input[type='radio'] {
  appearance: none;
  outline-color: transparent;
  border-radius: 0;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
}

input[type='checkbox'] {
  background: url(./assets/images/icon-checkbox.svg) no-repeat center;

  &:checked {
    background-image: url(./assets/images/icon-checkbox-check.svg);
  }
}

input[type='radio'] {
  border-radius: 50%;
  background: url(./assets/images/icon-radio.svg) no-repeat center;

  &:checked {
    background-image: url(./assets/images/icon-radio-selected.svg);
  }
}

div:has(> input[type='checkbox']) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;

  & > label {
    flex: 1;
  }
}

input,
textarea,
label:has(input) {
  outline: 1px solid var(--grey-500);
  border: 0;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  line-height: 150%;
}

input:focus,
textarea:focus,
label:has(input:focus) {
  outline: 1px solid var(--green-600);
}

input:not([type='radio'], [type='checkbox'])[aria-invalid='true'],
textarea[aria-invalid='true'] {
  outline-color: var(--red);
}

label:not(:has(input)) span,
legend span {
  color: var(--green-600);
}

label:has(input) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  span {
    flex: 1;
  }

  &:has(:checked) {
    background-color: var(--green-200);
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 0;
}

fieldset > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

fieldset > div label {
  width: 100%;
}

fieldset > legend {
  margin-bottom: 1rem;
}

textarea {
  height: 15rem;
  resize: none;
}

button {
  transition: background 250ms;
  cursor: pointer;
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--green-600);
  padding: 1rem;
  width: 100%;
  color: var(--white);
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 150%;

  &:hover {
    background-color: var(--green-900);
  }
}

span[id*='error'] {
  display: none;
  color: var(--red);
}

label {
  font-size: 1rem;
  line-height: 150%;
}

div#success-alert {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  visibility: hidden;
  transition:
    transform 250ms ease-in-out,
    visibility 250ms;
  transition-delay: 500ms;
  border-radius: 0.75rem;
  background-color: var(--grey-900);
  padding: 1.5rem;
  width: fit-content;

  strong {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.125rem;
    line-height: 150%;

    &::before {
      display: inline-block;
      background: url(./assets/images/icon-success-check.svg) no-repeat center;
      width: 1.5rem;
      height: 1.5rem;
      content: '';
      line-height: 150%;
    }
  }

  * {
    color: var(--white);
  }

  * + * {
    margin-top: 0.5rem;
  }
}

div#success-alert[aria-hidden='false'] {
  transform: translateX(-50%) translateY(1.5rem);
  visibility: visible;
}

@media screen and (min-width: 768px) {
  form {
    margin: 2.4375rem;
    padding: 2.5rem;
  }

  form > div:first-of-type,
  form > div:nth-of-type(2) {
    grid-column: span 6;
  }

  form > div:first-of-type {
    margin-right: 1rem;
  }

  fieldset > div {
    flex-direction: row;
  }

  textarea {
    height: 8.25rem;
  }
}

@media screen and (min-width: 1440px) {
  textarea {
    height: 6.5625rem;
  }
}
